.auth_page {
  width: 100%;
  padding: 2.5rem 0;
  background: #fdfdfd;
  display: flex;
  justify-content: center;

  .auth_box {
    background: #fff;
    max-width: 400px;
    width: 100%;
    border: 1px solid #ddd;
    padding: 2.7rem 1.7rem;
  }

  .pass {
    position: relative;

    small {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      cursor: pointer;
      opacity: 0.5;
    }
  }

  input {
    &::placeholder {
      opacity: 0.5;
      font-size: 80%;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
